**.csv
**.pages
**.txt
**.pickle
**.out

# COMPILED
**/__pycache__/**

# EXCLUSIVE
!**/data/**
!**/tfidf/**.pickle

# ENV
.idea
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
